
.Agrupar{
    background-color: white;
    color: #222;
    font: 10pt arial;
    font-weight: 600;
    z-index: 1080;
}
.Agrupar div button{
    padding: 5px;
    display: flex;
    background-color: white;
    border: 1px solid white;
}
.Agrupar div button i{
    margin: 2px;
}
.Agrupar div button:hover{
    border: 1px solid #017e84;
    color: #017e84;
}
.Form1{
    z-index: 1080;
    position: absolute;
    width: 150px;
    background-color: white !important;
    height:auto;
    border-radius: 5px;
}
.Form1 .Opcoes{
    width: 100%;
    padding: 10px;
    background-color: white;
}
.InputRadio {
    border: none !important;
    outline: none !important;
    margin-right: 5px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    justify-content: center;
    cursor: pointer;
}
.Form1 .Opcoes:hover{
    background-color: #eee;
    cursor: pointer;
}
.SubOpcao{
    position: absolute;
    margin-left: 140px;
    width: 180px;
    height: auto;
    min-height: 50px;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
}
.SubOpcao label{
    padding: 10px;
    width: 100%;
}
.SubOpcao label:hover{
    background-color: #eee;
    cursor: pointer;

}
.PesquisarCliente{
    font: 9pt arial;
    font-weight: 600;
    padding: 7px !important;
}
/* p-multiselect p-component p-inputwrapper p-multiselect-chip p-inputwrapper-filled p-inputwrapper-focus p-overlay-open */
.TipoFiltro{
    width: 25%;
    border: 1px solid #017e84;
    border-bottom: none;
    padding: 1px;
}
.InputPesquisar{
    width: 100%;
    display: flex;
    strong{
        border-bottom: 1px solid #017e84;
    }
}
.Pesquisar{
    @include input_normal
}

