.Principal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(230, 228, 228, 0.041) !important;
    justify-content: center;
    align-items: center;
    .Form-calendar{
        width: 90%;
        height: 80%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.040);
        .Header-calendar{
            width: 100%;
            padding: 5px;
            height: 13%;
            border-bottom: 1px solid rgba(221, 221, 221, 0.424);
            display: grid;
            grid-template-columns: 20% 60% 20%;
            color: rgba(0, 0, 0, 0.71);
            font-weight: 600;
            span{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .Container-calendar{
            width: 100%;
            height: 87%;
            .month{
                width: 100%;
                height: 10%;
                display: grid;
                grid-template-columns: repeat(12,1fr);
                .MonthActive{
                    background-color: #017e84;
                    color: white;
                    &:hover{
                        color: unset;
                    }
                }
                span{
                    width: 100%;
                    font: 9pt arial;
                    font-weight: 600;
                    max-width: 20ch;
                    text-align: center;
                    justify-items: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 7px 2px 7px 2px;
                    &:hover{
                        background-color: rgba(221, 221, 221, 0.51);
                        transition: 1s;
                        cursor: pointer;
                    }
                }
            }
            .days{
                width: 100%;
                height: 90%;
                padding: 15px;
                display: grid;
                grid-template-columns: repeat(8,1fr);
                grid-gap: 5px;
                .day{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    border-radius: 3px;
                    font: 11pt arial;
                    font-weight: 600;
                    border: 1px solid transparent;
                    color: #714B67;
                    &:hover{
                        cursor: pointer;
                        background-color: rgba(5, 108, 212, 0.039);
                        border: 1px solid rgba(5, 108, 212, 0.341);
                        color: rgba(5, 108, 212, 0.403);
                        strong{
                            transition: 1s;
                            border-bottom: 1px solid rgba(5, 108, 212, 0.403);
                            width: 100%;
                            left: 0;
                        }
                    }
                    strong{
                        bottom: 5px;
                        position: absolute;
                        width: 100%;
                        left: 0;
                    }
                }
                .DayActive{
                    background-color: rgba(5, 108, 212, 0.039);
                    border: 1px solid rgba(5, 108, 212, 0.341);
                    color: rgba(5, 108, 212, 0.403);                    
                }
                
            }
        }
    }
}
