.DivOrdensVendas{
    background-color: white;
    height: 100%;
    width: 100%;
    .Container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .OrdenCima{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            height: 15%;
            width: 100%;
            .GastosCimaEsquerda{
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h4{
                    font: 15pt arial;
                    font-weight: 600;
                    color: #000000a2;
                }
                .AdicionarGastos{
                    width: 15px;
                    @include botao_normal
                }
            }
            .GastosCimaDireita{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    @include input_normal
                }
            }
        }
        .list-content{
            height: 85%;
            width: 100%;
            .titleGastos{
                width: 100%;
                background-color: #f9f9f9f9;
                border-top: 2px solid #f1f1f1f9;
                display: grid;
                grid-template-columns: repeat(5,1fr);
                color: #000000a2;
                .TotalOrden{
                    display: flex;
                    justify-content: flex-end;
                    font-weight: bold;
                }
                div{
                    width: 100%;
                    border-left: 1px solid #eee;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px 5px 10px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .ListaOrden{
                height: 93%;
                display: grid;
                grid-template-rows: 90% 10%;
                >div{
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;
                    @include scroll;
                }
                .ListaGastos{
                    width: 100%;
                    color: #000000a2;
                    display: grid;
                    grid-template-columns: repeat(5,1fr);
                    border-bottom: 1px solid rgba(100, 100, 111, 0.044);
                    &:nth-child(even){
                        background-color: #fcfcfcf9;
                    }
                    &:hover{
                        background-color: #017e84;
                        cursor: pointer;
                        color: white;
                    }
                    div{
                        padding: 3px 10px 3px 10px;
                        width: 100%;
                        font-size: 14px;
                    }
                    .TotalOrden{
                        display: flex;
                        justify-content: flex-end;
                        font-weight: bold;
                    }
                }
                .TotalGastos{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 2rem;
                    right: 0;
                    font: 18pt arial;
                    font-weight: 600;
                    color: #017e84;
                }
            }
        }
    }
    .BlocoGasto {
        div h3{
            font: 15pt arial;
            font-weight: 600;
            padding: 10px;
        }
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        background-color: #0000001c;
        .Modal{
            width: 50%;
            height: 50%;
            background-color: white;
            border-radius: 3px;
            margin-top: 3rem;
            .Header{
                display: flex;
                justify-content: center;
                color: #000000a2;
            }
            .Content{
                width: 100%;
                height: 85.5%;
                padding: 15px;
                border-top: 1.5px solid #0000001c;
            }
        }
    }
}
.ConfirmarGasto{
    background-color: #017e84;
    color: white;
    border: 1px solid #017e84;
    padding: 5px 10px 5px 10px;
    font: 10pt arial;
    font-weight: 600;
}
.ConfirmarGasto:hover{
    background-color: white;
    border: 1px solid #017e84;
    color: #017e84;
    cursor: pointer;
}
.facharJanela{
    background-color: white;
    color: #017e84;
    border: 1px solid #017e84;
    padding: 5px 10px 5px 10px;
    font: 10pt arial;
    font-weight: 600;
}
.facharJanela:hover{
    background-color: #017e84;
    border: 1px solid #017e84;
    color: white;
    cursor: pointer;
}

#Assunto{
    border: none;
    outline: none;
    max-height: 50%;
    height: 50%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.BlocoNovoGastoBaixo{
    float: right;
}
.PesquuisarGasto{
    padding: 0px !important;
}
