.Principal {
    height: 100%;

    .Header {
        @include HeaderFaturacao
    }

    .Container {
        width: 100%;
        background-color: white;
        overflow: auto;
        height: 90%;

        .Botoes {
            width: 100%;
            height: 36px;
            background-color: white;
            border: 2px solid #eeee;
            padding: 2px;
        }

        .botoes {
            @include botao_normal;
            margin-left: 5px;
        }
        .discartar{
            margin-left: 5px;
            @include botao_descartar
        }

        .Formulario {
            width: 100%;
            height: 93%;
            padding: 10px;
            background-color: rgba(243, 243, 243, 0.765);

            .Form {
                height: 100%;
                background-color: white;
                width: 90%;
                margin: 0 auto;
                border-radius: 3px;
                border: 1px solid #eeee;

                .HeaderFatura {
                    height: 30%;
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid #eeee;

                    input {
                        border: none;
                        width: 80%;
                        padding: 1px;
                        border-bottom: 1px solid #ddd;
                        outline: 0;
                        box-shadow: 0 0 0 0;
                    }

                    .NumeroOrdem {
                        width: 100%;
                        height: 20%;
                        font-size: 20px;
                        color: var(--Titulo);
                    }

                    .Informacao {
                        height: 80%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        div:nth-child(1) {
                            display: flex;
                            flex-direction: column;

                            .cliente {
                                position: relative;
                                >div:nth-child(1){
                                    display: flex;
                                    flex-direction: column;
                                    button{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0px;
                                        border-color: transparent;
                                        outline: unset !important;
                                        box-sizing: 0px 0px 0px 0px;
                                        font-size: 15px;
                                        &:hover{
                                            border-bottom: 1px solid #cdcdcdf9;
                                        }
                                        &:focus{
                                            border-bottom: 1px solid #00686e;
                                            box-shadow: 0 0 0 0 ;
                                        }
                                    }
                                }
                                .ListCliente{
                                    width: 80%;
                                    background-color: white;
                                    margin-top: 30px;
                                    height: 100px !important;
                                    min-height: 50px;
                                    max-height: 150px;
                                    position: absolute;
                                    overflow-y: auto;
                                    border-bottom-right-radius: 3px;
                                    border-bottom-left-radius: 3px;
                                    @include scroll;
                                    .clienteRows{
                                        display: flex;
                                        padding: 5px 10px 5px 10px;
                                        border-bottom: 1px solid rgb(246, 246, 246);
                                        font: 10pt arial;
                                        div:nth-child(1){
                                            margin-right: 10px;
                                        }
                                        &:hover{
                                            cursor: pointer;
                                            background-color: rgba(231, 230, 230, 0.846);

                                        }
                                    }
                                }

                                i {
                                    margin-left: 5px;
                                    width: 30px;
                                    height: 30px;
                                    padding: 8px;
                                    background-color: #017e84;
                                    border-radius: 4px;
                                    text-align: center;
                                    color: white;

                                    &:hover {
                                        background-color: #017e84ca;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }

                        >div:nth-child(2) {
                            .principal{
                                .Form-control{
                                    @include form-control;
                                }
                            }
                        }

                    }
                }

                .FooterFatura {
                    height: 70%;
                }
            }
        }
    }
}
